<a id="top-link" href="#/">Go back</a>

<article class="post">
    <h1 class="title" >{{title}}</h1>
    
    <div class="image" style="background-image: url({{image_url}});"/>
    
    <div class="info">
        <img class="map" src="{{map_url}}"/>
    
        <a href="#/posts/{{id}}/edit">Edit</a>
        <a href="javascript:void(0)" id="remove-post">Remove post</a>
        
        <span>Created <time datetime="{{created_at}}" class="created_at">{{created_at_human}}</time></span>
        <span>Updated <time datetime="{{updated_at}}" class="updated_at">{{updated_at_human}}</time></span>
        
    </div>
    
    <section class="content">{{{par_content}}}</section>
</article>
