<a id="go-back-anchor" href="#/posts/{{id}}"></a>

<form id="post-form">
    
    <fieldset>
        <label for="title">Title<label>
        <input id="title" type="text" value="{{title}}"/>
        
        <label for="content">Content<label>
        <textarea id="content" name="content" >{{content}}</textarea>
    </fieldset>

    
        
    <fieldset>
        <legend>Image</legend>
        
        <label for="image_url">Image url</label>
        <input id="image_url" name="image_url" type="text" value="{{image_url}}"/>
        
        <img id="image_snapshot" src="{{image_url}}" />
    </fieldset>
    
    <fieldset>
        <legend>Location</legend>
        
        <label for="lat">Latitude</label>
        <input type="number" step="any" id="lat" name="lat" max="90" min="-90" value="{{lat}}" />
        
        <label for="long">Longitude</label>
        <input type="number" step="any" id="long" name="lon" max="180" min="-180" value="{{long}}" />
        
        <img id="map_snapshot" src="{{map_url}}" />
    </fieldset>
    
    
    <input id="save_button" type="submit" value="Save" onclick="return false;">
    <output id="errors"  style="display: none"></output>
    <output id="success" style="display: none">
        Updated correctly, redirecting to post...
    </output>
</form>
